<%= simple_form_for(@pull_request) do |f| %>
  <% if @pull_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pull_request.errors.count, "error") %> prohibited this pull request from being saved:</h2>
      <ul>
      <% @pull_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>This system currently supports only Github pull requests.&nbsp; The URL
  should therefore be in the format:<br/>
  <code>https://github.com/username/projectname/pull/pullnumber</code></p>

  <div class="fieldset">
    <%= f.input :url, label: 'URL' %>
  </div>

  <div class="actions">
    <%= f.submit, class: "button radius" %>
  </div>
<% end %>
