<h1>New pull_request</h1>

<%= simple_form_for(@pull_request) do |f| %>
  <% if @pull_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pull_request.errors.count, "error") %> prohibited this pull_request from being saved:</h2>

      <ul>
      <% @pull_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fieldset">
    <label for="url">URL</label>
    <input id="url" name="url" type="text" />
    <br/>
    <%= f.hint raw '(Must fit the format: <code>https://github.com/username/projectname/pull/pullnumber</code>)' %>
    <%= f.error :url, id: 'user_name_error' %>
    <%= f.full_error :token %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'List', pull_requests_path %>
