<h1>New Pull Request</h1>

<%= simple_form_for(@pull_request) do |f| %>
  <% if @pull_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pull_request.errors.count, "error") %>
      prohibited this pull request from being saved:</h2>

      <ul>
      <% @pull_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fieldset">
    <div class="row collapse">
      <div class="small-3 columns">
        <label for="url">Pull Request Github URL</label>
      </div>
      <div class="small-9 columns">
        <input id="url" name="url" type="text" />
        <span class="input-hint">
          (Must fit the format:
          <code>https://github.com/<i>username</i>/<i>projectname</i>/pull/<i>pullnumber</i></code>)
        </span>
      </div>
    </div>
    <br/>
    <div class="row collapse">
      <%= f.error :url, id: 'user_name_error' %>
      <%= f.full_error :token %>
      <%= f.submit class: "button radius"  %>
    </div>
    <br />
  </div>


<% end %>

