<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />

    <!-- Uncomment to make IE8 render like IE7 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      <%= content_for?(:title) ? yield(:title) : "Pull Request Roulette" %>
    </title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "Pull Request Roulette", root_url %></h1>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li class="divider"></li>
          <li><%= link_to "News", news_path %></li>
          <li class="divider"></li>
          <li class="has-form"><%= render 'layouts/log_in_out' %></li>
        </ul>
      </section>
    </nav>

    <div class="row">
      <div class="large-9 columns">
        <% flash.each do |key, value| %>
          <div data-alert class="alert-box radius <%= key %>">
            <%= value %>
            <a href="#" class="close">&times;</a>
          </div>
        <% end %>
        <%= yield %>
      </div>
      <div class="large-3 columns">
        <h2 class="subheader">About</h2>

        <p>On this site there is a list of pull requests (or PRs) submitted for
        review, belonging to open-source projects hosted on <%=
        link_to('Github', 'https://github.com', target: '_new') %>.&nbsp; Click
        the PR to open it in a new tab or window.&nbsp; Click Take (when logged
        in) to commit to reviewing that PR.</p>

        <p>If for whatever reason you can't review it in a timely manner,
        please <i>un</i>take it (i.e., close the review), so that someone else
        can review it.&nbsp; This can be done by the reviewer, the person who
        submitted the PR to PRR, the person who authored the PR, or the project
        owner.&nbsp; Later we may store a review <i>history</i>.</p>

        <p>This is a public service of <%= link_to('Codosaurus, LLC',
        'http://www.codosaur.us', target: '_new') %>.&nbsp; See <%=
        link_to('https://github.com/davearonson/pull-request-roulette',
                'https://github.com/davearonson/pull-request-roulette',
                target: '_new') %> for more information, such as planned
        features.&nbsp; Please read the README, browse the issues, and suggest
        more features.</p>

      </div>
    </div>

    <% if signed_in? %>
      <ul id="drop" data-dropdown-content class="f-dropdown">
        <li><%= link_to('Sign Out', sign_out_path) %></li>
      </ul>
    <% end %>

    <%= javascript_include_tag "application" %>

  </body>
</html>
