<!DOCTYPE html>
<html>
<head>
  <title>PullRequestRoulette</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p id="notice"><%= notice %></p>

<%= render 'layouts/log_in_out' %>

<%= yield %>

</body>
</html>
